<footer class="container-fluid fixed-bottom">
    <div class="row text-center">
        <section class="col">
            Squelette du site
        </section>
        <section class="col">
            Copyright
        </section>
        <section class="col">
            Mentions Légales
        </section>
    </div>
</footer>